pre > code {
    border : 3px solid black;
    background-color: blanchedalmond;
    color : cornflowerblue;
    font-weight: blod;
    font-size: 18px;
    padding: 20px;
    margin: 20px;
    display: block;
}