.main{
   border: solid black;
}

div.Balance{
    color: red;
    border: solid red;
    margin : 10px;
}

.Amount{
    color : blue;
    border: solid blue;
    margin: 10px;
}
.deposit{
    color: green;
    border: solid green;
    display: flex;
    
}
.withdrawal{
    color: green;
    border: solid green;
    margin : 10px
}
.buttons{
    display: flex;
    flex-direction : center;
    justify-content : center;
    align-items: center;
    
    
}