

.number{
        box-sizing: border-box;
        border: 1px solid black;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        margin: 10px;
        display: flex;
        justify-content: center;           
        align-content: center;

        cursor:pointer;
        user-select: none;
        
    
}

#lottoBoard{
    border: 1px solid black;
    width: 250px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .active{
    background-color: plum;
  }